body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f8f8;
}
.grid {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.grid-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  width: calc(20% - 20px); /* 5 columns */
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
.grid-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  object-fit: cover;
}
.grid-item h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.grid-item a {
  text-decoration: none;
  color: inherit;
}
.grid-item p {
  color: #666;
}
@media (max-width: 1200px) {
  .grid-item {
    width: calc(33.333% - 20px); /* 3 columns for medium screens */
  }
}
@media (max-width: 768px) {
  .swiper-container {
    width: 100%;
    overflow: hidden;
  }
  .swiper-slide {
    width: 100% !important; /* 1 column for mobile */
    box-sizing: border-box;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #000; /* 화살표 색상 */
    width: 44px;
    height: 44px;
    margin-top: -22px; /* 중앙에 맞추기 위해 반으로 위로 이동 */
  }
}
